parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method PHPGenesis\\\\Common\\\\Config\\\\CommonConfig\\:\\:basePath\\(\\)\\.$#"
			count: 2
			path: src/CLI/src/Commands/InstallCommand.php

		-
			message: "#^Call to an undefined static method PHPGenesis\\\\Logger\\\\Config\\\\LoggerConfig\\:\\:install\\(\\)\\.$#"
			count: 1
			path: src/CLI/src/Commands/InstallCommand.php

		-
			message: "#^Cognitive complexity for \"PHPGenesis\\\\CLI\\\\Commands\\\\InstallCommand\\:\\:promptUntilValid\\(\\)\" is 12, keep it under 10$#"
			count: 1
			path: src/CLI/src/Commands/InstallCommand.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/CLI/src/Commands/InstallCommand.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/CLI/src/Commands/InstallCommand.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Composer\\\\Composer\\:\\:globalInstallCheck\\(\\) has parameter \\$packageName with no type specified\\.$#"
			count: 1
			path: src/Common/src/Composer/Composer.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Config\\\\CommonConfig\\:\\:get\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Config/CommonConfig.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Config\\\\IModuleConfig\\:\\:get\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Config/IModuleConfig.php

		-
			message: "#^Function dto\\(\\) has parameter \\$dto_class with no type specified\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Function dto\\(\\) has parameter \\$object with no type specified\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Function dto_collection\\(\\) has parameter \\$dto_class with no type specified\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Function dto_collection\\(\\) has parameter \\$objects with no type specified\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Function objectify\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Parameter \\#1 \\$value of function collect expects Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), mixed\\>\\|iterable\\<\\(int\\|string\\), mixed\\>\\|null, object given\\.$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/Common/src/Helpers/helpers.php

		-
			message: "#^Function config_path not found\\.$#"
			count: 1
			path: src/Common/src/Laravel/Providers/PhpGenesisServiceProvider.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:all\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:delete\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:find\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:firstOrCreate\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Method PHPGenesis\\\\Common\\\\Repositories\\\\IModelRepository\\:\\:updateOrCreate\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Common/src/Repositories/IModelRepository.php

		-
			message: "#^Expression \"\\$_GLOBAL\\['PHPGENESIS_LOGGER_CONTEXT'\\]\" on a separate line does not do anything\\.$#"
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: "#^Parameter \\#3 \\$context of method Monolog\\\\Logger\\:\\:log\\(\\) expects array, array\\|null given\\.$#"
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: "#^Undefined variable\\: \\$_GLOBAL$#"
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: "#^Variable \\$_GLOBAL in isset\\(\\) is never defined\\.$#"
			count: 1
			path: src/Logger/src/BaseLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Config\\\\LoggerConfig\\:\\:get\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Logger/src/Config/LoggerConfig.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:alert\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:alert\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:critical\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:critical\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:debug\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:debug\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:emergency\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:emergency\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:error\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:error\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:info\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:info\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:notice\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:notice\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:warning\\(\\) has parameter \\$context with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Method PHPGenesis\\\\Logger\\\\Loggers\\\\LaravelLogger\\:\\:warning\\(\\) has parameter \\$message with no type specified\\.$#"
			count: 1
			path: src/Logger/src/Loggers/LaravelLogger.php

		-
			message: "#^Function config not found\\.$#"
			count: 2
			path: src/Services/AmazonWebServices/src/Config/AwsConfig.php

		-
			message: "#^Method PHPGenesis\\\\Services\\\\AmazonWebServices\\\\Config\\\\AwsConfig\\:\\:get\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Services/AmazonWebServices/src/Config/AwsConfig.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: src/Services/AmazonWebServices/src/SimpleEmailService/Domain.php
